.logo {
    
    font-family: 'Poppins', sans-serif; 
    font-weight: 600; 
    font-size: 2.5rem; 
}
.custom-btn {
    background-color: #c0392b; 
    border-color: #c0392b; 
    font-weight: 600;
}
.custom-btn:hover {
    background-color: #e74c3c; 
    border-color: #e74c3c;
}